# Global ignores
## OS
.DS_Store

## IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

## IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Logs / Debug files
logs # General logs dir
*.log
npm-debug.log*
pnpm-debug.log* # From runner
.pnpm-debug.log* # From app
yarn-debug.log*
yarn-error.log*
lerna-debug.log* # From runner

## Environment / Secrets
.env.local
.env.*.local
.env
*.pem

## Temp / Runtime / Reports
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.tsbuildinfo # General typescript build info

## Node modules
node_modules
*/node_modules
**/node_modules
**/*/node_modules

# App specific ignores (app/)
## Dependencies
app/node_modules
app/.pnp
app/.pnp.*
app/.yarn/*
!app/.yarn/patches
!app/.yarn/plugins
!app/.yarn/releases
!app/.yarn/versions

## Testing
app/coverage

## Next.js
app/.next/
app/out/

## Production Build
app/build

## Vercel
app/.vercel

## Typescript / Public output
app/next-env.d.ts
app/public/tests/*
app/public/test-results/*
app/public/artifacts/*
app/test-results/* # Specific test-results dir inside app?

## DB
app/src/db/supercheck.db

# Runner specific ignores (runner/)
## Dependencies
runner/node_modules

## Compiled Output / Build
runner/dist
runner/build

## Testing / Coverage
runner/coverage
runner/.nyc_output

## Playwright reports
runner/local-test-runs/*
runner/playwright-reports/*
runner/report/* 